@let formGroup = form();
@if (formGroup) {
  <p-panel [header]="i18nPrefix + '.title' | translate" [toggleable]="true" [formGroup]="formGroup">
    <div class="py-3">
      <p-floatlabel variant="on">
        <p-select
          [options]="DotTypeOpts"
          formControlName="type"
          [placeholder]="i18nPrefix + '.typeLabel' | translate"
          class="w-full"
          id="type"
        />
        <label for="type">{{ i18nPrefix + '.typeLabel' | translate }}</label>
      </p-floatlabel>
      <p-fieldset [legend]="i18nPrefix + '.colorLabel' | translate">
        <p-selectbutton [options]="[]" optionLabel="label" optionValue="value" aria-labelledby="basic" />
        <p-colorPicker formControlName="color" id="color" inputId="color" />
      </p-fieldset>
      <app-gradient-form [form]="formGroup.controls.gradient" />
    </div>
  </p-panel>
}
